[Unit]
Description=LSATS Database Backup
After=postgresql.service

[Service]
Type=oneshot
User=lsats
WorkingDirectory=/opt/LSATS_Data_Hub
EnvironmentFile=/etc/LSATS_Data_Hub/hub.conf
Environment=PGPASSFILE=/opt/LSATS_Data_Hub/.pgpass
ExecStart=/bin/bash /opt/LSATS_Data_Hub/scripts/database/backup_database.sh
StandardOutput=journal
StandardError=journal
